:root {
    --main-color: rgb(22, 94, 157);
    --fontWeight:600;
  }

#AllPostsPageMainContainer{
  display: flex;
  flex-direction: column;
  position: relative;
}

#AllPostsPageAddPostContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  background-color: rgba(240, 245, 255, 0.782);
  border-radius: 10px;
  column-gap: 10px;
  position: relative;
}

#profilePic{
  width: 60px;
  height: 60px;
  object-fit: cover;
  box-shadow: 0px 0px 5px rgb(235, 235, 235);
  border-radius: 50%;
}

#postInpBox{
  width: 90%;
  height: 55px;
  padding: 10px 10px;
  outline: none;
  border: 1px solid rgba(115, 117, 255, 0.182);
  border-radius: 10px;
  color: rgb(103, 103, 103);
}

#addPostBtn{
  font-size: 2.5rem;
  cursor: pointer;
  color: rgb(0, 58, 128);
}

#postBtn{
  position: absolute;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(0, 58, 128);
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: 600;
  right: 60px;
  bottom: -30px;
  z-index: 100%;
  
}

#allPostsContainer{
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.postContainer{
  box-shadow: 2px 5px 5px rgb(235, 235, 235);
display: flex;
flex-direction: row;
padding: 20px 10px;
border-radius: 10px;
margin-bottom: 20px;
position: relative;
z-index: 100%;
}

.postProfilePic{
  width: 55px;
  height: 55px;
  object-fit: cover;
  box-shadow: 0px 0px 5px rgb(235, 235, 235);
  border-radius: 50%;
}

.postInfoContainer{
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
}

.postName{
  font-size: 1rem;
  font-weight: 600;
  color: rgb(2, 62, 115);
}

.postUserName{
  font-size: 0.9rem;
  color: rgba(2, 62, 115, 0.766);
  margin-left: 2px;
  margin-bottom: 20px;
}

.postContent{
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 10px;
}

.postImg{
  width: 100%;
  max-height: 800px;
  object-fit: cover;
  border-radius: 5px;
}

.postMediaControls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 300px;
  padding: 10px 0px;
  font-size: 1.1rem;
  margin-top: 10px;
}

.postMediaControls span{
  cursor: pointer;
}
/*  */
#commentMainContainer{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.651);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 200;
}

#commentContainer{
  width: 70%;
  height: 90%;
  background-color: white;
  margin: 30px auto;
  z-index: 200%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px white;
  padding: 20px 15px;
  position: relative;
}

#commentContainer > i{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.commentBox{
  display: flex;
  flex-direction: column;
}

#commentScroll{
width: 100%;
overflow-y: auto;
height: 90%;
}

#sentCommnetBox{
position: absolute;
bottom: 15px;
width: 95%;
display: flex;
justify-content: space-between;
column-gap: 10px;
}

.commentBox{
  margin-bottom: 15px;
}

.commentBoxName{
  font-size: 1rem;
  font-weight: 600;
}

.commentBoxUserName{
  font-size: 0.9rem;
  margin-left: 2px;
  margin-bottom: 5px;
}

.commentBoxMessage{
margin-left: 2px;
font-size: 0.9rem;
color: gray;
}

#sentCommnetBox > input{
  width: 90%;
  padding: 10px 5px;
  background-color: rgb(212, 212, 212);
  color: black;
  border: none;
  outline: none;
  border-radius: 5px;
}

#sentCommnetBox > button{
  width: 100px;
  font-weight: 600;
  background-color: rgb(0, 58, 128);
  border: none;
  color: white;
  padding: 15px 10px;
  border-radius: 10px;
  cursor: pointer;
}


/* For tablets and mobile devices */
@media (max-width: 991.98px) {

  html{
    font-size: 16px;
  }

  #AllPostsPageAddPostContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    background-color: rgba(240, 245, 255, 0.782);
    border-radius: 10px;
    column-gap: 10px;
    position: relative;
  }
  
  #profilePic{
    width: 50px;
    height: 40px;
    object-fit: cover;
    display: none;
  }
  
  #postInpBox{
    width: 90%;
    height: 55px;
    padding: 10px 10px;
    outline: none;
    border: 1px solid rgba(115, 117, 255, 0.182);
    border-radius: 10px;
    color: rgb(103, 103, 103);
  }
  
  #addPostBtn{
    font-size: 2.5rem;
    cursor: pointer;
    color: rgb(0, 58, 128);
  }
  
  #postBtn{
    position: absolute;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 58, 128);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 600;
    right: 60px;
    bottom: -30px;
    z-index: 100%;
    
  }

  /*  */

  #allPostsContainer{
    padding: 20px 0px;
  }

  .postContainer{
  width: 100%;
  }

  .postProfilePic{
    width: 45px;
    height: 45px;
  }
  
  .postInfoContainer{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    width: 100%;
  }
  
  .postContent{
    font-size: 0.9rem;
    color: gray;
    margin-bottom: 10px;
  }
  
  .postImg{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .postMediaControls{
    display: flex;
    flex-direction: row;
    column-gap: 0px;
    padding: 5px 0px;
    font-size: 0.9rem;
    margin-top: 10px;
    justify-content: space-between;
    width: 100%; 
  }

  /*  */
#commentMainContainer{
  width: 100%;
  height: 100vh;
}

#commentContainer{
  width: 90%;
  height: 90%;
  background-color: white;
  margin: 30px auto;
  z-index: 200%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px white;
  padding: 20px 15px;
  position: relative;
}

#commentContainer > i{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5rem;
}

#sentCommnetBox > input{
  width: 90%;
  padding: 0px 5px;
}

#sentCommnetBox > button{
  width: 90px;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  padding: 10px 5px;
  transform: translateX(-5px);
}
}